 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/cantieri/list">
          <i class="bi bi-envelope"></i>
          <span>Cantieri</span>
        </a>
      </li><!-- End Contact Page Nav -->

    

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Ordini</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/ordini/list">
              <i class="bi bi-circle"></i><span>Ordini</span>
            </a>
          </li>
          <li>
            <a href="/ordini/permagazzino/list">
              <i class="bi bi-circle"></i><span>Ordini per Magazzino</span>
            </a>
          </li>
          <li>
            <a href="/ordini/damagazzino/list">
              <i class="bi bi-circle"></i><span>Ordine da Magazzino</span>
            </a>
          </li>
        </ul>
      </li>



      <li class="nav-item">
        <a class="nav-link collapsed" href="/fatture/list">
          <i class="bi bi-envelope"></i>
          <span>Fatture</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/personale/list">
          <i class="bi bi-envelope"></i>
          <span>Personale</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/fornitori/list">
          <i class="bi bi-envelope"></i>
          <span>Fornitori</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/clienti/list">
          <i class="bi bi-envelope"></i>
          <span>Clienti</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/magazzino/list">
          <i class="bi bi-envelope"></i>
          <span>Magazzino</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/documenti/list">
          <i class="bi bi-envelope"></i>
          <span>Documenti</span>
        </a>
      </li><!-- End Contact Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->
