{% load math_filter %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Modifica Ordine</h1>
      <!--
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
      -->
    </div><!-- End Page Title -->

    <section class="section">



       


      <div class="row">
        <!--
	     <div class="col-6">
        <form class="form-control" action = "" method = "post">
            {% csrf_token %}
            {{form.as_p }}
            <button class="btn btn-primary" type="submit">Send</button>
        </form>

        </div>
        -->
        <div class="col-10">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Modifica Ordine </h5>
              <!-- Multi Columns Form -->
              <form class="row g-3" method="POST">{% csrf_token %} 
                <div class="col-md-4">
                  <label for="id" class="form-label">ID Ordine</label>
                  <input type="text" class="form-control" name="id"   value="{{ordine.id}}" id="id">
                </div>

                <div class="col-md-4">
                  <label for="dataordine" class="form-label">Data Ordine</label>
                  <input type="date" class="form-control" name="data_ordine"   value="{{ordine.data_ordine|date:'Y-m-d'}}" id="dataordine">
                </div>

                <div class="col-md-4">
                  <label for="importo" class="form-label">Importo</label>

                <div class="input-group">
                  <span class="input-group-text">€</span>
                  <input type="text" class="form-control" name="importo" step="0.01" value="{{ordine.importo}}" id="importo">
                </div>
              </div>

                
                <div class="col-md-4">
                  <label for="fornitore" class="form-label">Fornitore {{ordine.fornitore.id }}</label>
                  <select id="fornitore" class="form-select">
                    <option selected>Fornitore</option>
                    {% for one in fornitori %}  
                    <option value="{{one.id}}" {% if one.id == ordine.fornitore.id %}  selected="selected" {% endif %}  >{{one}}</option>
                    {% endfor %}

                  </select>
                </div>
                <div class="col-md-4">
                  <label for="cantiere" class="form-label">Cantiere</label>
                  <select id="cantiere" class="form-select">
                    <option selected>Cantiere</option>
                    {% for one in cantieri %}
                    <option value="{{one.id}}"  {% if one.id == ordine.cantiere.id %}  selected="selected" {% endif %}>{{one}}</option>
                    {% endfor %}

                  </select>
                </div>
                <div class="col-md-4">
                  <label for="cantiere" class="form-label">Tipologia</label>
                  <select id="cantiere" class="form-select">
                    <option selected>Tipologia</option>
                    {% for one in tipologia %}
                    <option value="{{one.0}}" {% if one.0 == ordine.tipologia %}  selected="selected" {% endif %}>{{one.1}}</option>
                    {% endfor %}

                  </select>
                </div>
               
               
                
               
                
              

            </div>
          </div>

        </div>   
      </div>
    </section>
    <div class="d-flex justify-content-end ">
     
      <button type="button" class=" btn btn-light rounded-pill mt-3" onclick="aggiungiarticoli()">
       <i class="bi bi-cart-plus"></i> Aggiungi Articoli  
      </button>
      
      </div>
      <div id="aggiungiarticoli" class="card d-none">
        <div class="card-body">
          <h5 class="card-title">{{a.nome}}</h5>
          <!-- Small tables -->
        <table class="table table-sm">                  
          <tbody>
            <thead>
              <th> Descrizione</th>
              <th> Quantita`</th>
              <th> Prezzo Unitario</th>
              <th> </th>
              
            </thead>
           
          <tr class="primo">
            <td><input class="pollo" name="descrizione" ></td>
            <td><input name="quantita" ></td>
            <td><input name="prezzo_unitario" ></td>
            <td> <button type="button" onclick="addarticolo(this)" class="btn btn-success"><i class="bi bi-plus-circle"></i></button> <button type="button" onclick="removearticolo(this)" class="btn btn-warning"><i class="bi bi-trash"></i></button> </td>
            
          </tr>
         
          
         
          
          
          </tbody>
        </table>
        <!-- End small tables -->       
          </div>
        </div><!-- End Default Card -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Salva</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </form><!-- End Multi Columns Form -->
    </div>
</main><!-- End #main -->